body {
  font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
}

.rules {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
}

.game-container {
    padding: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-image: radial-gradient(#ab8558, #a17a06);
}

.game {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  text-align: center;
  background: linear-gradient(to right, #f9f9f9 50%, #fefefe 50%);
  background-size: cover;
  background-position: center;
}


/*DEMARRER LA GAME*/
.btn-new-game {
  margin-bottom: 3rem; 
}

.img-new-game {
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.2rem;
}


/*NOMBRE DE JOUEUR + SCORE + DICE*/
.players {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-left: 15%;
    margin-right: 15%;
}

.dot-0.active {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  margin-bottom: -0.1rem;
}

.dot-1.active {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  margin-bottom: -0.1rem;
}


.img-rond-rouge-0 {
  width: 1rem;
  height: 1rem;
}

.img-rond-rouge-1 {
  width: 1rem;
  height: 1rem;
}



.dice {
    width: 7rem;
    height: 7rem;
}

/*ROLL DICE*/
.roll-dice {
  margin-bottom: 1rem;
}

.img-roll-dice {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -0.4rem;
}

/*HOLD*/
.img-hold {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -0.4rem;
}

/*CURRENT SCORES + BTN ROLL & HOLD*/
.current-scores { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-left: 15%;
    margin-right: 15%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  color: red;
  font-weight: 700;
}


.victoire {
  background-color: yellow;
  border: 2px solid black;
  font-weight: bold;
  padding: 2rem;
}




